.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .hero {
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    width: 100%;

    .left-content {
      position: relative;
      width: 60%;

      .item {
        width: 100%;
        object-fit: cover;
        object-position: center;
        animation-name: fade;
        animation-duration: 1.5s;

        @keyframes fade {
          from {
            opacity: 0.4;
          }
          to {
            opacity: 1;
          }
        }

        .slide_image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .navbar {
        position: absolute;
        top: 10%;
        left: 5%;
        display: flex;
        align-items: center;
        background-color: transparent;

        .navbar__hamburger {
          display: none;
        }

        .navbar__logo {
          margin-right: 5rem;
          display: inline-block;
          cursor: pointer;
        }

        .navbar__lists {
          list-style-type: none;
          display: flex;

          .navbar__lists--item {
            margin-right: 2rem;

            .navbar__link {
              color: #fff;
              text-decoration: none;
              text-transform: lowercase;
              font-size: 1.8rem;
            }
          }
        }
      }
    }

    .right-content {
      width: 40%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem 2rem;

      .cta__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .cta__header {
          font-size: 3rem;
        }

        .cta__text {
          margin-bottom: 2rem;
          color: $color-primary;
          line-height: 1.5;
          font-size: 1.3rem;
        }
        .cta__btn {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          .cta__shopnow {
            margin-right: 2rem;
            text-transform: uppercase;
            letter-spacing: 5px;
            color: $color-secondary;
            text-decoration: none;
            transition: all 0.2s ease;
            font-size: 1.5rem;
          }
        }
      }

      .navigation {
        background-color: $color-secondary;
        margin-top: 2rem;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        width: 40%;
        max-width: 160px;
        min-width: 160px;
        margin-left: -2rem;
        margin-bottom: -0.8rem;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .navigation__icon {
          height: 2.4rem;
          width: 1.4rem;
          cursor: pointer;
        }
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: row wrap;

    .about__info {
      height: 100%;
      padding: 0 5rem;
      display: flex;

      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    .about__heading {
      text-transform: uppercase;
      margin-bottom: 1.5rem;
      font-size: 1.4rem;
      letter-spacing: 3px;
    }
    .about__text {
      line-height: 1.5;
      color: $color-primary;
    }
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .container .hero {
    flex-direction: column;
    .left-content {
      width: 100%;
      .navbar {
        .navbar__logo {
          display: none;
        }
        .navbar__hamburger {
          display: block;
          font-size: 2.5rem;
          margin-right: 2rem;
        }
        .navbar__lists {
          display: none;
        }
      }
    }
    .right-content {
      width: 100%;
      .cta__wrapper {
        .cta__btn {
          padding-bottom: 3rem;
        }
      }
      .navigation {
        position: absolute;
        top: -85px;
        right: 0;
        padding-bottom: 0.9rem;
        padding-top: 0.9rem;
      }
    }
  }
  .footer {
    flex-direction: column;
    width: 100%;

    .about__image--dark {
    }
    .about__img {
      width: 100%;
      object-fit: cover;
    }
    .about__wrapper {
      padding-top: 2rem;
      padding-bottom: 2rem;
      .about__info {
        .about__heading {
          font-size: 2rem;
        }
        .about__text {
          font-size: 1.4rem;
        }
      }
    }
  }
}
